@model IEnumerable<Animome.Models.ApplicationUser>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4" style="text-align:center">Tableau de bord</h1>

<div class="tableauDeBord">

<div class="blocAccueil">
    <div>
        <h5>Dernières modifications</h5>
    </div>
    <table>
            @for (var i = 0; i < 5; i++)
            {
                <tr>
                    <td class="case">
                        Gautier Laisné
                    </td>
                    <td class="case">
                        @i
                    </td>
                    <td class="case">
                        Compétence .... Valide
                    </td>
                    <td class="case">
                        12/03/2020
                    </td>
                </tr>
            }
    </table>
</div>

    <div class="blocAccueil">
        <div>
            <h5>Demandes en attente</h5>
        </div>
        <div>
            <div>
                <a asp-controller="ApplicationUsers" asp-action="Index" style="font-size:70px; color:white">3</a>
            </div>
        </div>
    </div>
</div>

