@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Animome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="accueilAttente">
    <h1 class="display-4">Attente de confirmation</h1>
    <h6>Bienvenue sur Animome</h6>
    <p>
        Ce site s'adresse uniquement aux collaborateurs de Mme HUMEAU.
    </p>
    <p>
        Vous êtes actuellement en attente de confirmation de l'administrateur.
    </p>
</div>
