@model Animome.ViewModels.PrerequisNiveauxCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PrerequisNiveau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <select asp-for="Prerequis.Intitule" asp-items="Model.ListePrerequis">
                    <option value="">All</option>
                </select>
            </p>
            <p>
                <select asp-for="Niveau.Intitule" asp-items="Model.ListeNiveaux">
                    <option value="">All</option>
                </select>
            </p>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

