@model Animome.ViewModels.PrerequisNiveauxCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index"><ion-icon name="arrow-back"></ion-icon></a>
</p>
<h1>Ajouter un lien Prérequis - Niveau</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <label>Prérequis : </label>
                <select asp-for="Prerequis.Intitule" asp-items="Model.ListePrerequis">
                    <option value=""> - Choisir un Prérequis -</option>
                </select>
            </p>
            <p>
                <label>Compétence : </label>
                <select asp-for="Niveau.Intitule" asp-items="Model.ListeNiveaux">
                    <option value="">- Choisir un Niveau -</option>
                </select>
            </p>


            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

