@model IEnumerable<Animome.Models.Suivi>

@{
    ViewData["Title"] = "AfficherApercu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var couleurDomaine = "";
    var couleurComp="";
    var couleurPrerequis="";
}

<h1>AfficherApercu</h1>

<a asp-action="AfficherSuivi" asp-route-id=@ViewData["idPatient"]>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                if(item.Etat==EtatEnum.e3)
                {
                    couleurDomaine = "darkgreen";
                }
                else if (item.Etat==EtatEnum.e2)
                {
                    couleurDomaine = "orangered";
                }
                else if (item.Etat==EtatEnum.e1)
                {
                    couleurDomaine = "darkgrey";
                }
                <tr class="afficherSuivi" style="border-color : @couleurDomaine">
                    <td>
                        <div class="alignes">
                            @foreach (var suiviCompetence in item.LesSuiviCompetences)
                            {
                                if(suiviCompetence.Etat==EtatEnum.e3)
                                {
                                    couleurComp = "darkgreen";
                                }
                                else if (suiviCompetence.Etat==EtatEnum.e2)
                                {
                                    couleurComp = "orangered";
                                }
                                else if (suiviCompetence.Etat==EtatEnum.e1)
                                {
                                    couleurComp = "darkgrey";
                                }

                              <div class="carteCompetenceNonValide" style="border-color : @couleurPrerequis">
                                    <div class="alignes">
                                        @foreach (var suiviPrerequis in suiviCompetence.LesSuiviPrerequis)
                                        {
                                            if(suiviPrerequis.Etat==EtatEnum.e3)
                                            {
                                                couleurPrerequis = "darkgreen";
                                            }
                                            else if (suiviPrerequis.Etat==EtatEnum.e2)
                                            {
                                                couleurPrerequis = "orangered";
                                            }
                                            else if (suiviPrerequis.Etat==EtatEnum.e1)
                                            {
                                                couleurPrerequis = "darkgrey";
                                            }

                                        <div class="column">
                                            <div class="itemPrerequisNonValide" style="background-color : @couleurPrerequis" >
                                                <text>A</text>
                                            </div>
                                        </div>
 

                                        }
                                    </div>
                                </div>   

                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</a>