@model IEnumerable<Animome.Models.Suivi>

@{
    ViewData["Title"] = "AfficherSuivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Animome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>AfficherSuivi</h1>

    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <text class="texte">@Html.DisplayFor(modelItem => item.Domaine)</text>
                        <div class="alignes">
                            @foreach (var competence in item.LesSuiviCompetences)
                            {
                                <div class="carteCompetence">
                                    <text class="texte">@Html.DisplayFor(modelItem => competence.Competence) : 20 %</text>
                                    <div class="alignes">
                                        @foreach (var prerequis in competence.LesSuiviPrerequis)
                                        {
                                            <div class="itemPrerequis">
                                            </div>
                                        }
                                    </div>
                                </div>

                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
