@model Animome.Models.Suivi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-controller="Suivis" asp-action="AfficherSuivi" asp-route-id="@Model.Patient.Id"><ion-icon name="arrow-back"></ion-icon></a>
</p>

<h3>Etes-vous sûr de vouloir supprimer le programme du domaine @Model.Domaine.Intitule du patient @Model.Patient.Numero?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    </form>
</div>
