@model Animome.ViewModels.SelectListViewModel
@{
    ViewData["Title"] = "TestSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TestSelect</h1>

<form asp-controller="Suivis" asp-action="TestSelect" method="post">
    <p>
        <select asp-for="IntituleDomaine" asp-items="Model.Domaines">
            <option value="">All</option>
        </select>
        <input type="submit" value="Go" />
    </p>
</form>



