@model Animome.Models.Prerequis

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Index"><ion-icon name="arrow-back"></ion-icon></a>
<h3>Etes-vous sûr.e de vouloir supprimer ce Prérequis ?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    </form>
</div>
