@model IEnumerable<Animome.Models.Prerequis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-controller="Parametres" asp-action="Index"><ion-icon name="arrow-back" class="icon"></ion-icon></a>
</p>
<h1 class="titre">Prérequis</h1>
<p>
    <a asp-action="Create">Ajouter <ion-icon name="add-circle" class="icon"></ion-icon></a>
</p>

<div class="container-animome">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Intitule)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Intitule)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-outline" class="icon"></ion-icon></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
