/* BARRE DE NAVIGATION*/
/*----------------------------------------------------*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    background-color: #d2caca;
}

a {
  color: #F26316;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link:hover {
    color: #be6508 !important;
}

/*  GENERAL
-------------------------------------------------- */

/*automatique*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


body {
    /* Margin bottom by footer height */
    background: url("../img/fond.png") no-repeat;
    background-position: 99% 11%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Dispositions*/

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.alignes {
    display: flex;
    flex-direction: row;
}

.colonne {
    display: flex;
    flex-direction: column;
}

/*textes*/

.texte {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #3F3F3F;
}

a:hover {
    color: #F26316; /*#F26316*/
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    color: #F26316;
    margin-bottom: 2%;
}


.container-animome {
    display: flex;
    flex-direction: column;
    border: 0px solid #f3f3f3;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 5px 10px gray;
    text-align: center;
    background-color: rgba(255,255,255,0.70);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    /*height : 600px;*/
    overflow: auto;
}

.erreur {
    background-color: #F9B7B7;
    padding: 10px;
    border-radius: 5Px;
    margin: 10px;
    font-family: Lucida Sans Unicode;
}

/*icones*/

ion-icon:not([name="log-out-outline" ]), .icon {
    font-size: 30px;
    color: #3F3F3F;
    position: relative;
    top: 10px;
}

    ion-icon[name="arrow-back"] {
        font-size: 50px;
    }

        ion-icon:not([name="log-out-outline" ]):hover, .icon:hover, ion-icon[name="arrow-back"]:hover {
            color: #F26316; /*orange*/
        }

.iconSuivi {
    color: #A3A3A3;
    font-size: 25px;
    margin-right: -2px;
}

.iconSuivi:hover {
    color: #3F3F3F
}

.grosIcon {
    font-size: 50px;
    margin-top: 1%;
}

.petitIcon {
    font-size: 20px;
}

/*boutons*/

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

btn, .btn-primary {
    color: #fff;
    background-color: #A3A3A3; /*gris*/
    border-color: #A3A3A3;
    margin: 0 auto;
}

 btn:hover, .btn-primary:hover {
        background-color: #0c4f0c; /*Vert*/
        border-color: #0c4f0c;
 }

 .btn:focus{
    outline:none;
 }

 /*bouton view patient*/
.btn {
    color: #fff;
    background-color: #A3A3A3;
    border-color: #A3A3A3;
    padding: 8px;
    border-radius: 6px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    height: 40px;
}

.contentBtnPrinc {
    position:relative;
    top:-15px;
    color:white;
}

    .btnPrinc:hover {
        background-color: #F26316;
        border-color: #F26316;
        color: #fff;
    }

.boutonRecherche {
    border: none;
    padding: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.boutonParametres {
    border-style: solid;
    border-color: #3F3F3F; /*Gris*/
    border-width: 3px;
    width: 250px;
    height: 60px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius : 5px;
}

.boutonParametres:hover {
    color: #F26316;
    border-color: #F26316;
}


.boutonTransparent {
    border: none;
    background-color: transparent;
}

.boutonTransparent:focus{
    outline:none;
}

.boutonBlanc {
    border-style: solid;
    border-color: whitesmoke;
    border-width: 3px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    color: whitesmoke;
    font-size: 32px
}

.boutonDomaine {
    background-color: #f6963f; /*orange pale*/
    border-radius: 3px;
    border-width: 3px;
    width: 200px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: #3F3F3F;
}

.boutonInscription {
    border-color: orange;
    background-color: transparent;
}

.deconnexion {
    border-color: orange;
    background-color: transparent;
}




.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alinea{
    margin-left :20px;
}

/* HOME */
/*--------------------------------------*/
.blocAccueil {
    background-color: #343a40;
    height: auto;
   display: inline-block;
    margin-right: 10px;
    margin-top:20px;
    color: whitesmoke;
    border-radius:10px;
    padding:5px;
}

.tableauDeBord {
    text-align: center;
}

.case {
    background-color: whitesmoke;
    height: 50px;
    width: auto;
    min-width:50px;
    display: inline-block;
    margin:10px;
    color : black;
    padding:5px;
    border-radius :8px;
}

.imgDemande{
    height:20px;
    width:20px;
    margin : 5px;
}

/*VUE PATIENT*/
.barreRecherche {
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3; /*gris clair*/
    float: left;
    height: auto;
    margin: 10px;
    margin-bottom: 20px;
}


.input {
    border: none;
    padding-left: 20px;
    border-radius: 10px;
}

    .input:focus {
        outline: none;
    }

.saisie {
    border: none;
}



/*AFFICHAGE SUIVI*/
/*-----------------------------------------------------*/
.carteCompetence {
    background-color: lightgrey;
    height: auto;
    margin: 10px;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-width:2px;
    border-style:solid;
    border-radius : 5px;
}


.itemPrerequis {
    background-color: grey;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}


.itemExerciceValide {
    background-color: green;
    border-color:green;
    width: 60px;
    height: 20px;
    margin-left: 5px;
    margin-right :5px;
    margin-bottom:5px;
    margin-top :0px;
    text-align:center;
}

.itemExerciceNonValide {
    background-color: grey;
    border-color: #A3A3A3;
    width: 60px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: center;
}






.afficherSuivi {
    background-color: whitesmoke;
    border-style:solid;
    border-width:2px;
    height:150px;
    margin-bottom:10px;
    padding:5px;
    border-radius:5px;
    margin-top:5px;
} 

form{
    padding :20px;
}

.form-group {
    display: flex;
    flex-direction: row;
}


select {
    border-radius : 3px;
}

