@model Animome.ViewModels.DomaineCompetencesCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index"><ion-icon name="arrow-back"></ion-icon></a>
</p>

@if(ViewData["erreur"].ToString() != "")
{ 
<div class="erreur">
    @ViewData["erreur"]
</div>
}

<h1>Ajout d'un lien Domaine - Compétence</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <label class="control-label col-md-3">Domaine : </label>
                <select asp-for="Domaine.Intitule" asp-items="Model.Domaines">
                    <option value="">- Choisir un domaine - </option>
                </select>
            </p>
            <p>
                <label class="control-label col-md-3">Compétence : </label>
                <select asp-for="Competence.Intitule" asp-items="Model.Competences">
                    <option value="">-Choisir une compétence - </option>
                </select>
            </p>

            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

