@model Animome.Models.DomaineCompetence

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Etes-vous sûr.e de vouloir supprimer le lien entre @Model.Domaine.Intitule et @Model.Competence.Intitule ? </h3>
<div>   
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
