@model Animome.ViewModels.PatientUserCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ajout d'un membre à l'équipe pédagogique</h1>

<a asp-action="Index" asp-route-id="@ViewData["idPatient"]"><ion-icon name="arrow-back"></ion-icon></a>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>
                    <label class="col-md-2">Collaborateur :</label>
                    <select asp-for="NomUser" asp-items="Model.ListeUsers">
                        <option value="">- Choisir un collaborateur -</option>
                    </select>
                </p>
                <input type="submit" value="Create" class="btn btn-primary" asp-route-id="@ViewData["idPatient"]" />
            </div>
        </form>
    </div>
</div>


