@model Animome.Models.PatientUser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Etes -vous sûr.e de vouloir supprimer ce membre de l'équipe thérapeutique du patient n° @Model.Patient.Numero?</h3>
<div>
    <h4>PatientUser</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
