@model IEnumerable<Animome.Models.PatientUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller= "Patients" asp-action="Index"><ion-icon name="arrow-back"></ion-icon></a>
<h1>Equipe thérapeutique du patient n° @Model.ToList()[0].Patient.Numero</h1>

<p>
    <a asp-action="Create" asp-route-id=@ViewData["idPatient"]>
        <text>Ajouter</text>
        <ion-icon name="add-circle"></ion-icon>
    </a>
</p>
<div class="container-animome">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Membre
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Prenom) @Html.DisplayFor(modelItem => item.ApplicationUser.Nom)
                </td>
                <td>
                   
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-outline" class="icon"></ion-icon></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
