@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="titre">Paramètres</h1>
<div class="container colonne mx-auto">
    <div class="alignes">
        <a class="lien boutonParametres" asp-controller="Domaines" asp-action="Index">DOMAINES</a>
        <a class="lien boutonParametres" asp-controller="Competences" asp-action="Index">COMPETENCES</a>
        <a class="lien boutonParametres" asp-controller="Prerequis" asp-action="Index">PREREQUIS</a>
        <a class="lien boutonParametres" asp-controller="Niveaux" asp-action="Index">NIVEAUX</a>
    </div>
    <div class="alignes">
        <a class="lien boutonParametres" asp-controller="DomaineCompetences" asp-action="Index">DOMAINE - COMPETENCE</a>
        <a class="lien boutonParametres" asp-controller="CompetencePrerequis" asp-action="Index">COMPETENCE - PREREQUIS</a>
        <a class="lien boutonParametres" asp-controller="PrerequisNiveaux" asp-action="Index">PREREQUIS - NIVEAUX</a>
    </div>
</div>
