@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>ChoisirEchelle</h1>
<p>
    <a asp-controller="Domaines" asp-action="Index">Domaines</a> |
    <a asp-controller="Competences" asp-action="Index">Compétences</a> |
    <a asp-controller="DomaineCompetences" asp-action="Index">DomaineCompétences</a> |
    <a asp-controller="Prerequis" asp-action="Index">Prérequis</a> |
    <a asp-controller="CompetencePrerequis" asp-action="Index">CompétencePrérequis</a> |
    <a asp-controller="Niveaux" asp-action="Index">Niveaux</a> |
    <a asp-controller="PrerequisNiveaux" asp-action="Index">PrérequisNiveaux</a> |
</p>
<p>
    <a asp-controller="Parametres" asp-action="Index">Back to list</a>
</p>