@model Animome.ViewModels.CompetencePrerequisCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index" asp-route-id="@ViewData["idPatient"]"><ion-icon name="arrow-back" stye=""></ion-icon></a>
</p>
<h1>Create</h1>

<h4>CompetencePrerequis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <select asp-for="Competence.Intitule" asp-items="Model.ListeCompetences">
                    <option value="">All</option>
                </select>
            </p>
            <p>
                <select asp-for="Prerequis.Intitule" asp-items="Model.ListePrerequis">
                    <option value="">All</option>
                </select>
            </p>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

