@model Animome.Models.ApplicationUser

@{
    ViewData["Title"] = "AfficherProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titre">Profil</h1>

<hr/>

<div class="mx-auto container-animome">
    <div style="margin-bottom:20px;">
        Nom prénom : @Html.DisplayFor(Model => Model.Prenom) @Html.DisplayFor(Model => Model.Nom)
    </div>
    <div style="margin-bottom:20px;">
        Adresse mail :  @Html.DisplayFor(Model => Model.Email)
    </div>
    <div style="margin-bottom:20px;">
        Domaines d'expertise :
        <div>
            @foreach (var d in Model.LesDomaines)
            {
                <div class="colonne boutonDomaine">
                    @Html.DisplayFor(Model => d.Domaine.Intitule)
                </div>
            }
        </div>
    </div>
    <a asp-action="Edit" asp-route-id=@Model.Id class="btn btnPrinc" style="height:50px;">
        <div class="contentBtnPrinc" style="position:relative;top:0px;">
            <text style="color:white;">Modifier informations</text>
            <i class="fas fa-pencil-alt icon" style="color:#fff; position:relative;top:-1px;"></i>
        </div>
    </a>
</div>

